$white: #fff;
$black: #000;
$dark: #2e2d2d;
$grey: #666;
$light: #fafafa;
$transparent: rgba(0, 0, 0, 0);
$purple: #987bec;
$blue: #1ea7fd;
$red: #ff002b;

// main colors
$primary: #131a58;
$secondary: #5360bd;
$success: #38a09c;
$success-light: #47e6b1;
$info: #ff924d;
$link: $secondary;
$warning: #d86485;
$danger: $warning;
$disabled: #c4c4c4;
$pop-out: #f7f7ff;

$desktop: 1440px;
$tablet: 768px;
$moblie: 375px;
