$white: #fff;
$black: #000;
$dark: #2E2D2D;
$grey: #666;
$light: #fafafa;
$transparent: rgba(0,0,0,0);
$purple: #987BEC;
$blue: #1ea7fd;

// main colors
$primary: #131A58;
$secondary: #5360BD;
$success: #38A09C;
$success-light: #47E6B1;
$info: #FF924D;
$link: $secondary;
$warning: #D86485;
$danger: $warning;
$disabled: #C4C4C4;

$desktop: 1440px;
$tablet: 768px;
$moblie: 375px;

